@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blackv2: #24282F;
  --grey: #EEEFEF;
  --text-grey: #5A6475;
  --button-purple: #582066;
  --burger-menu-bg: #363C46;
  --burger-menu-opened-bg: #F9F9F9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1168px;
  --breakpoint-xl: 1440px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
